<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.easycms.entity.CmsCustomer">
    <!-- 插入操作 -->
    <insert id="add" parameterType="customer">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="customerId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into ec_customer(code,customerName,customerAddress,customerEmail,customerTel,customerType) values(#{code},#{customerName},#{customerAddress},#{customerEmail},#{customerTel},#{customerType})
    </insert>
    <!-- 删除操作 -->
    <delete id="delete" parameterType="int">
        delete from ec_customer where customerId=#{customerId}
    </delete>
    <!-- 批量删除 -->
    <delete id="deleteIn" parameterType="java.util.List">
        delete from ec_customer where coustomerId in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            ${item}
        </foreach>
    </delete>
    <!-- 修改操作 -->
    <update id="update" parameterType="customer">
        update ec_customer set code=#{code},customerName=#{customerName},customerAddress=#{customerAddress},customerEmail=#{customerEmail},customerTel=#{customerTel},customerType=#{customerType} where customerId=#{customerId}
    </update>
    <!--  查询操作-->
    <select id="findById" resultMap="customerMap" parameterType="int">
        select
        c.customerId,c.code,c.customerName,c.customerAddress,c.customerEmail,c.customerTel,c.customerType
        from
        ec_customer c, ec_user u
        where
       c.customerId=#{customerId} and c.code=u.id
    </select>
    <resultMap type="customer" id="customerMap">
        <id property="customerId" column="customerId"/>
        <result property="code" column="code"/>
        <result property="customerName" column="customerName"/>
        <result property="customerAddress" column="customerAddress"/>
        <result property="customerEmail" column="customerEmail"/>
        <result property="customerTel" column="customerTel"/>
        <result property="customerType" column="customerType"/>
        <association property="customerGroup" resultMap="com.easycms.entity.CmsCustomerGroup.groupMap"></association>
    </resultMap>

    <resultMap type="customer" id="msgCustomerMap">
        <id property="customerId" column="customerId"/>
        <result property="customerName" column="customerName"/>
    </resultMap>

    <!-- 查询全部 -->
    <select id="findAll" resultMap="customerMap">
        select
        c.customerId,c.code,c.customerName,c.customerAddress,c.customerEmail,c.customerTel,c.customerType
        from
        ec_customer c, ec_user u
        where
       c.code=u.id
    </select>
    <!-- 分页查询 -->
    <select id="findByPage" resultMap="customerMap" parameterType="map">
      select
        c.customerId,c.code,c.customerName,c.customerAddress,c.customerEmail,c.customerTel,c.customerType
        from
        ec_customer c, ec_user u
        where
       c.code=u.id
        order by
        customerId desc
        limit
        #{showPages},#{pageSize}
    </select>
    <!-- 总页数 -->
    <select id="findTotal" resultType="int" parameterType="int">
        select count(*) from ec_customer
    </select>
    <!-- 根据用户名获得对象 -->
    <select id="findByName" resultType="customer" parameterType="customer">
        select * from ec_customer where customerName=#{customerName}
    </select>
</mapper>